<div><b>You are the moderator!</b></div>
<ng-container *ngIf="game.gameOn else hostStartGame">
  <ng-container *ngIf="game.gameState === 'Discussion'">
    <div><b>Wait till the players discuss and nominate suspects.</b></div>
    <div><button (click)="next()" class="btn btn-sm btn-primary">Start voting</button></div>
  </ng-container>
  <ng-container *ngIf="game.gameState === 'LastWord'">
    <div><b>Give guilty a chance to stay last word. If needed - discuss with the group.</b></div>
    <div><button (click)="next()" class="btn btn-sm btn-primary">Start night</button></div>
  </ng-container>

  <div class="mb-1">
    <button class="btn btn-sm btn-outline-danger mt-2" type="button" (click)="startGame(true)">Restart game</button>
  </div>
</ng-container>

<ng-template #hostStartGame>
  <button class="btn btn-sm btn-primary mr-2 mt-2" type="button" (click)="startGame()">Start game</button>
</ng-template>
