<div>
  <h2>How to play Mafia</h2>
  <p>This implementation of Mafia is slightly different from the rules you might&rsquo;ve played, so please read the rules to avoid confusion.</p>
  <h3>Agenda</h3>
  <p>Mafia is the game of cooperation and deception, persuasion and logic, communication and fun.</p>
  <p>All players are divided into two teams: civilians and mafia. After a series of despicable crimes, law-abiding people declare war on the mafia. During the day they are trying to imprison all gangsters at all costs. In order to survive mafia starts eliminating civilians every night.</p>
  <h4>Game over criteria</h4>
  <p>Mafia wins when the number of civilians alive does not exceed the number of free Mafiosi. Civilians win if they are able to convict all mafia.</p>
  <h4>Number of players</h4>
  <p>The game works for 6-16 people, with the optimal number is 9-13. If there are more than 16 people willing to play, players will be chosen randomly. About 30% of the players are Mafia, the exact number is disclosed at the beginning of the game. If there are at least 9 players, civilians are also joined by the Detective.</p>
  <h4>Detective</h4>
  <p>Detective works undercover in order to survive Mafia hits. At Night Detective investigates one of the players and discovers their team. During the daytime, Detective tries to help civilians convict Mafia without blowing the cover.</p>
  <h4>General rules</h4>
  <ul>
  <li>It is forbidden to show your game screen to other players.&nbsp;</li>
  <li>It is forbidden to swear or take oaths at any moment of the game.</li>
  <li>Players can claim certain roles, but it can be a deception at any moment of the game.</li>
  <li>It is disrespectful to cheat on your friends, don&rsquo;t use other communications channels except for the video conference, and don&rsquo;t do anything unfair.</li>
  <li>Please, do not use text chat while playing - it tends to ruin the game experience.</li>
  </ul>
  <h3>Game phases</h3>
  <h4>Day - Discussion</h4>
  <p>The game starts with a Discussion phase: all players one by one introduce themselves and try to convince other players that they are peaceful citizens.&nbsp;</p>
  <p>If someone acts dubiously, any player can suspect them: nominate for a jury vote.</p>
  <p>On Day 2 and other days, players have information about recent deaths and can use it to speculate and have more informed suspicions.</p>
  <h4>Day - Voting</h4>
  <p>If there are multiple suspects, the jury meets to reach a verdict. All alive players must make a choice. If someone refuses to do it - their vote automatically counts for the first suspect.&nbsp;</p>
  <p><strong>Note:</strong> All daytime votes are open, so everyone can see who votes.</p>
  <h4>Day - Tiebreaker</h4>
  <p>If the jury is undecided, and several suspects receive the same amount of votes, or there is only one suspect - a second vote appears. In this vote, players decide either all suspects are guilty or none of them.</p>
  <p>Ties are the only possibility to save everyone or kill multiple players on the same day.</p>
  <p><strong>Note:</strong> If the voting phase or tiebreaker resolves, players found guilty are removed from the game. They can say a couple of last words, but that might be a lie.</p>
  <h4>Night</h4>
  <p>During the night it is not necessary for players to close their eyes, but verbal communications are forbidden.</p>
  <p>During night:</p>
  <ul>
  <li>Mafia chooses who to kill. The vote doesn&rsquo;t have to be unanimous, but if there is a tie - Mafia misses and no one dies. If the vote was successful - a player dies without the last word.</li>
  <li>Detective chooses who to investigate. The next day he will see the team of the player he investigated.</li>
  <li>Civilians need to wake up by clicking a button that unlocks at a random time. This is required to let Mafia and Detective do their actions undetected.</li>
  </ul>
  <h3>Game rooms</h3>
  <h4>Creating the game</h4>
  <p>To create a room - enter your name, and link to a video conference. You don&rsquo;t have to fill the link to the video conference if you plan to share the game link through an existing conference, but it might be useful for people joining the game in progress. Once the game is created - it will get a unique link that you need to share with other players.</p>
  <h4>Joining the game</h4>
  <h5>Set a name</h5>
  <p>To join a game - open the link shared with you and enter the name. Note: the name has to be unique within the same room, as it is the only way to identify a specific player in the list. Please, keep the name consistent with your video conference profile.</p>
  <h5>Set up applications</h5>
  <p>Once joined the room - open it next to your video conference and change video conference mode to tiles to see all players at the same time.</p>
  <p>Note: you can also open the room on a mobile phone while using the video on your laptop.</p>
  <h4>Starting the game, moderator&nbsp;</h4>
  <p>The player who joined the room first becomes a moderator. Moderator is responsible for:</p>
  <ul>
  <li>Starting the game when players are ready</li>
  <li>Facilitating discussion in the video</li>
  <li>Starting the vote when players are ready</li>
  <li>Removing the players who permanently lost the connection from the game. This is optional but can speed up the game</li>
  </ul>
  <p>Once enough players are in the room - Moderator starts the game.</p>
  <hr>
  <p><a href="https://forms.gle/XUJNsjMnfct3eUbN9" target="_blank">Leave feedback</a></p>
</div>
