<div>It is <b [class]="dayTime === 'Night' ? 'night' : ''">{{dayTime}} #{{game.dayNumber}} <ng-container *ngIf="dayTime !== 'Night'">({{game.gameState}})</ng-container></b></div>

<ng-container *ngIf="player.role !== 'Guest'">
  <div><b>{{phaseCaption()}}</b></div>
  <div *ngIf="countdown">Time left: <b>{{countdown | minuteSecond}}</b> seconds</div>
</ng-container>

<br *ngIf="player.role !== 'Guest'">

<div class="text-muted" *ngIf="showHint else hideHint">
  <ng-container><i>{{hintCaption()}}</i></ng-container>&nbsp;
  <a (click)="showHint = false;" href>[&times;]</a>
</div>

<ng-template #hideHint>
  <div><a (click)="showHint = true; false" href>[ show hint >> ]</a></div>
</ng-template>
