<div class="d-flex">
  <div class="mr-5">{{dayEmoji}} {{dayTime}} {{game.dayNumber}}</div>
  <div *ngIf="player.role !== 'Guest'">
    <div>{{game.gameState}} - {{phaseCaption()}}</div>
  </div>
</div>

<br *ngIf="player.role !== 'Guest'">

<div class="text-secondary" *ngIf="showHint else hideHint">
  <ng-container><i>{{hintCaption()}}</i></ng-container>&nbsp;
  <a (click)="showHint = false;" href>[&times;]</a>
</div>

<ng-template #hideHint>
  <div><a (click)="showHint = true; false" href>[ show hint >> ]</a></div>
</ng-template>
