<div class="form-check pl-1">
  <input class="form-check-inline" id="autoJoin" type="checkbox" [(ngModel)]="autoJoin" (click)="toggleJoinGame()"/>
  <label class="form-check-label" for="autoJoin">Join next game</label>
</div>

<div *ngIf="!hideRoomInfo else hideRoomInfoBlock" class="mt-1">
  <hr>
  <div class="d-flex flex-column align-items-center">
    <div class="text-center"><b>Share this link to invite more people:</b></div>
    <qrcode [qrdata]="roomLink" [width]="200" [margin]="2" [errorCorrectionLevel]="'M'"></qrcode>
    <div><a href="{{roomLink}}" target="_blank"> {{roomLink}}</a></div>
    <div><button class="btn btn-sm btn-primary my-1 "id="roomLink" ngxClipboard [cbContent]="roomLink">Copy</button></div>
    <div><share-buttons [theme]="'modern-dark'"
         [include]="['facebook','twitter','linkedin','reddit','whatsapp']"
         [show]="5"
         [showText]="true"
         [showCount]="true"
        ></share-buttons>
    </div>
  </div>
  <div>
    <button class="btn btn-sm btn-outline-primary mr-1 "
            (click)="hideRoomInfo = true; false" >Hide</button>
  </div>
  <hr>
</div>
<ng-template #hideRoomInfoBlock>
  <div  class="d-flex flex-column align-items-center my-3">
    <button class="btn btn-sm btn-outline-primary ml-1 "
            (click)="hideRoomInfo = false; false" >Room link</button>
  </div>
</ng-template>
