<div>Welcome, <b>{{player.name}} (#{{player.number}})</b></div>
<div>The game is <b>{{state}}</b></div>

<ng-container *ngIf="player.role === 'Guest'">
  <div>You are a guest</div>
</ng-container>

<ng-container *ngIf="gameOn && player.role !== 'Guest'">
  <div>Remember, you are <b [class]="roleToClass(player.role)">{{player.role}}</b></div>
  <div>{{getGoal()}}</div>
</ng-container>

<ng-container *ngIf="!gameOn && winner">
  <div class="text-danger"><b>{{winner}}</b></div>
  <div *ngIf="endGameMessage">{{endGameMessage}}</div>
</ng-container>
