<div class="container d-flex flex-grow-1 h-100 justify-content-center">
  <div class="card border-0 align-items-center align-self-center">

    <div class="d-flex align-items-center flex-sm-column flex-md-row">
      <div>
        <div class="text-center">
      <!--      <img src="">-->
          <h5>Quarantined?</h5>
          <h5>Why not play some Mafia!</h5>
        </div>
        <div class="d-flex my-4">
          <label for="username" class="mr-3">Your name</label>
          <input id="username" class="pl-2"
                 [(ngModel)]="userName" autoFocus
                 (keyup.enter)="userName && submit()" required />
        </div>

        <div *ngIf="false && !join" class="d-flex">
          <label for="videoLink" class="mr-3">Video link</label>
          <input id="videoLink" [(ngModel)]="videoLink" (keyup.enter)="submit()"/>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-primary" (click)="submit()" [disabled]="!userName">{{action}} room</button>
        </div>
        <!-- div class="text-muted text-center" style="font-size: 12px">By starting a game room, you will automatically become the host.</div -->
      </div>

      <div class="d-flex flex-column align-items-center my-3">
        <h5>Or switch to another device:</h5>
        <qrcode [qrdata]="roomLink" [width]="200" [margin]="2" [errorCorrectionLevel]="'M'"></qrcode>
        <div class="text-muted text-center" style="font-size: 12px">
          Mobile phone is nicer for the game, <br>
          but do not show your screen to the camera.
        </div>
      </div>

    </div>

    <div class="d-flex align-items-start flex-sm-column flex-md-row">
      <div class="col">
        <b>What is it?</b><br>
        Mafia is a party game that used to require a room, a game master and a deck of cards.
        We made it very easy to play remotely over the video conference:
        <ol>
          <li>Create a room</li>
          <li>Share a link in a video chat</li>
          <li>Wait for your friends to open the link</li>
          <li>Enjoy</li>
        </ol>
        <b>Why?</b><br>
        Mafia is our favorite social game. This sophisticated game used to be played in bars, in dormitories, on camping,
        and even in professional setting in clubs.<br><br>
        Now with everyone staying at home, when everything is closed, we all need more ways to stay
        <b>connected</b> and stay <b>sane</b>. This game is our contribution to the common cause.<br>
      </div>

      <div class="col">
        <b>About the game:</b><br>
        ✔️ Works with your favourite video conference<br>
        👨‍👨‍👦‍👦👨‍👩‍👧‍👧   6 - 16 players, optimal 8-12<br>
        ⏱️🤔  3 minutes to learn the rules<br>
        ⏱️🥳  30 - 50 minutes to play<br>
        ✔️ All players have active roles<br>
        <b>Game features:</b><br>
        ✔️ Communication<br>
        ✔️ Cooperation<br>
        ✔️ Persuasion<br>
        ✔️ Deception<br>
        ✔️ Strategy<br>
        ✔️ Logic<br>
        <br>
        <game-help></game-help>
      </div>
    </div>
    <div class="p-5 text-center">
      If you enjoy the game and like the idea - please, share.<br>
      Spread the word so that more people can enjoy meaningful social interaction while staying at home.<br>
      <share-buttons [theme]="'material-dark'"
         [include]="['facebook','twitter','linkedin','reddit','whatsapp']"
         [show]="8"
         [showText]="true"
         [showCount]="true"
        ></share-buttons>
    </div>

  </div>
</div>
