<div class="container d-flex flex-grow-1 h-100 justify-content-center">
  <div class="card border-0 align-items-center align-self-center">

    <div class="d-flex align-items-center flex-sm-column flex-md-row">
      <div>
        <div class="text-center">
      <!--      <img src="">-->
          <h5>Quarantined?</h5>
          <h5>Why not play some Mafia!</h5>
        </div>
        <div class="d-flex my-4">
          <label for="username" class="mr-3">Your name</label>
          <input id="username" class="pl-2"
                 [(ngModel)]="userName" autoFocus
                 (keyup.enter)="userName && submit()" required />
        </div>

        <div *ngIf="false && !join" class="d-flex">
          <label for="videoLink" class="mr-3">Video link</label>
          <input id="videoLink" [(ngModel)]="videoLink" (keyup.enter)="submit()"/>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-primary" (click)="submit()" [disabled]="!userName">{{action}} room</button>
        </div>
        <!-- div class="text-muted text-center" style="font-size: 12px">By starting a game room, you will automatically become the host.</div -->
      </div>

      <div class="d-flex flex-column align-items-center my-3">
        <h5>Or switch to another device:</h5>
        <qrcode [qrdata]="roomLink" [width]="200" [margin]="2" [errorCorrectionLevel]="'M'"></qrcode>
        <div class="text-muted text-center" style="font-size: 12px">
          Mobile phone is nicer for the game, <br>
          but do not show your screen to the camera.
        </div>
      </div>

    </div>
    <div>
      <share-buttons [theme]="'material-dark'"
         [include]="['facebook','twitter','linkedin','reddit','whatsapp']"
         [show]="8"
         [showText]="true"
         [showCount]="true"
        ></share-buttons
        <!-- ,'vk','telegram','copy' -->
    </div>

  </div>
</div>
