<div class="card" [style.width]="'50vw'">
  <div class="card-header">Welcome To Mafia</div>
  <div class="card-body">
    <h5 class="card-title text-center">About</h5>
    <p class="card-text">Basic info blurb</p>

    <div *ngIf="!ready else makeRoom" class="form-group">
      <label for="username">Username</label>
      <input id="username" class="form-control" [(ngModel)]="userName" required />
      <small id="usernameHelp" class="form-text text-muted">Enter your username</small>
      <div class="mt-3 d-flex justify-content-center">
        <button *ngIf="!joining else join" class="btn btn-primary" (click)="setUsername()">Set Name</button>
        <ng-template #join>
          <button class="btn btn-primary" (click)="setUsernameAndJoin()">Join Room</button>
        </ng-template>
      </div>
    </div>

    <ng-template #makeRoom>
      <label for="videoLink">Video link</label>
      <input id="videoLink" class="form-control" [(ngModel)]="videoLink"/>
      <small id="videoLinkHelp" class="form-text text-muted">Enter the videoLink</small>
      <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-primary" (click)="createRoom()">Create Room</button>
      </div>
    </ng-template>
  </div>
</div>
