hr {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

.player-list-item{
  &.player-me{
    .player-name {
      font-weight: bold;
    }
  }
  &.player-dead {
    .player-name {
      text-decoration-line: line-through;
    }
  }

  .btn-sm {
    .padding-top: 0;
    .padding-bottom: 0;
  }
}

.bg-dark{
  hr{
    border-top-color: silver;
  }
}


.text-small{
  font-size:0.8rem;
}
