<h1>Welcome to the lobby</h1>

<div class="input-group mb-3">
  <input class="form-control" type="text"
         aria-label="Room Link" aria-describedby="roomLink"
         [value]="roomLink" #link readonly>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="roomLink" [ngxClipboard]="link">Copy</button>
  </div>
</div>
<div class="d-flex mb-3">
  <button class="btn btn-outline-primary mr-1" type="button" (click)="startGame()">Start Game</button>
  <button class="btn btn-secondary mr-1" type="button" (click)="next()">Next</button>
  <button class="btn btn-warning mr-1" type="button" (click)="vote()" [disabled]="!newMessage">Vote</button>
</div>

<ng-container *ngIf="player">
  <h2>Player Info</h2>
  <div class="mb-3 card">
    <div class="card-body">
      <h5 class="card-title">{{player.name}}</h5>
      <div>Number: {{player.number}}</div>
      <div>Status: {{player.isAlive ? 'alive' : 'dead'}}</div>
      <div>Role: {{player.role}}</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="players">
  <h2>Players List</h2>
  <div class="mb-3 d-flex flex-row">
    <div *ngFor="let player of players" class="card">
      <div class="card-body">
        <h5 class="card-title">{{player.name}}</h5>
        <div>Number: {{player.number}}</div>
        <div>Status: {{player.isAlive ? 'alive' : 'dead'}}</div>
      </div>
    </div>
  </div>
</ng-container>

<h2>Send</h2>
<div class="input-group mb-3">
  <input class="form-control" type="text"
         [(ngModel)]="newMessage" (keyup.enter)="newMessage && sendMessage()" required/>
  <div class="input-group-append">
    <button class="btn btn-outline-primary" (click)="sendMessage()" [disabled]="!newMessage">Send</button>
  </div>
</div>

<h3>Messages</h3>
<div class="px-2">
  <pre *ngFor="let message of messages">{{message}}</pre>
</div>
