<div class="d-flex">
  <div class="form-group w-100">
    Link to this room:<br/>
    <a href="{{roomLink}}" #link target="_blank"> {{roomLink}}</a>
    <button class="btn btn-sm btn-outline-secondary" id="roomLink" [ngxClipboard]="link">Copy</button>
  </div>
</div>

<ng-container *ngIf="videoLink">
  <div class="d-flex">
    <div class="form-group w-100">
      <h4 for="videoLink">Link to video call: </h4>
      <div class="input-group">
        <input class="form-control" type="text"
               aria-label="Room Link" aria-describedby="videoLink"
               [value]="videoLink" #vLink readonly>
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-secondary" type="button" id="videoLink" [ngxClipboard]="vLink">Copy</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="d-flex">
  <button class="btn btn-sm btn-outline-primary mr-1" type="button" (click)="startGame()">Start Game</button>
  <button class="btn btn-sm btn-outline-secondary mr-1" type="button" (click)="next()">Next</button>
  <button class="btn btn-sm outline-clear" type="button" (click)="clearChat()">Clear</button>
</div>

<ng-container *ngIf="game">
  <ng-container *ngIf="player">
    <div class="card">
      <div class="card-title">Welcome, <b>{{player.name}}</b></div>
      <div>This game is <b>{{game.gameOn ? 'On' : 'Over'}}</b></div>
      <div>Your role is <b>{{player.role}}</b></div>
      <div>You are <b>{{player.isAlive ? 'alive' : 'dead'}}</b></div>
    </div>
  </ng-container>

  <div class="">
    <div>It is <b>{{game.gameState == 'Night' ? 'Night' : 'Day'}}</b></div>
    <div><b>{{game.gameState}}</b></div>
    <div>Time left: <b>{{game.countdown || '0'}}</b> seconds</div>
  </div>

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <ng-container>Hint: Talk to other players and try to find mafia and prove your position to other players. Then chose who do you suspect.</ng-container>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ng-container *ngIf="players.length">
    <h2>Players in the room: </h2>
    <div class="">
      <table class="table">
        <tbody>
          <tr *ngFor="let player of players">
            <td>
              <b [style.textDecorationLine]="player.isAlive ? '' : 'line-through'">{{player.number}}: {{player.name}}</b>
              <ng-container> - <b>{{player.role}}</b></ng-container>
            </td>
            <td>
              <button class="btn btn-sm btn-primary"
                      (click)="vote(player.number)"
                      [disabled]="hasVoted">Vote</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>

<h2>Chat</h2>
<div class="input-group">
  <input class="form-control" type="text"
         [(ngModel)]="newMessage" (keyup.enter)="newMessage && sendMessage()" required/>
  <div class="input-group-append">
    <button class="btn btn-sm btn-outline-primary" (click)="sendMessage()" [disabled]="!newMessage">Send</button>
  </div>
</div>
<div class="px-2">
  <pre *ngFor="let message of messages">{{message}}</pre>
</div>
