/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Roboto Mono', monospace;
}

.text-small{
  font-size: 13px;
}

body {
  height: 100%;
  font-size: 17px;
}

html {
  height: 100%;
}
